@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/Inter.ttc') format('ttc')
}

@font-face {
    font-family: 'Inter Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Inter Bold"), local("Inter-Bold"), url('assets/fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Oswald Bold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Oswald Bold"), local("Oswald-Bold"),
    url("assets/fonts/Oswald-Bold.ttf") format("truetype");
}

